<%- include('../template/header'); %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper content_wrapperCustom">
  <!-- Content Header (Page header) -->
  <div class="card_headerCustom">
    <h1 class="landingTitle">Dashboard</h1>
  </div>
</div>
<%- include('../template/footer'); %>